.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
  height: 120px;
  border-radius: 5px;
  background-color: var(--default-card);
  margin-top: 1rem;
  transition: all 150ms ease-in 0s;
}

.card:hover {
  scale: 1.1;
}

.card-header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1px;
  box-shadow: 0 7px 8px -10px #000;
}
